 Byte-compiled files
*.pyc
*.pyo
__pycache__/

# Virtual environment
venv/
env/
myenv/

# Environment variables
*.env
*.env.*

# IDE files
.vscode/
.idea/
*.iml

# Logs
*.log
logs/

# Database files
*.sqlite3
*.db

# Python egg files
*.egg
*.egg-info/
dist/
build/
*.manifest

# Pytest cache
.pytest_cache/

# Migrations
migrations/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS-specific files
.DS_Store
Thumbs.db
